#btnp{
    background-color: #653E8C;
    color: white;
}

#imgp {
    max-width: 100%;
    height: auto;
  }

  #cont {
    background-image: url('/p2.png'); 
    background-size: cover;
    color: white;
  }