.table thead tr th {
    background-color: #653E8C !important;
    color: white;
  }
  
    .btn-morado {
      background-color: #653E8C;
      color: white;
      border: none;
    }
  
    .btn-morado:hover {
      background-color: #4e2f6c; 
    }
  
    .custom-table thead th {
      background-color: #653E8C; 
      color: white; 
    }